# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Manually ignored
.vscode/settings.json
.vscode/launch.json
src/junk/blabla.py
src/IQFeeder/__pycache__/IQFeedImporter.cpython-36.pyc
src/packages/IQFeed-master/__pycache__/iqfeed.cpython-36.pyc
src/tests/__pycache__/tests_setup.cpython-36.pyc
src/utils/__pycache__/DataSys.cpython-36.pyc
src/fornow/__pycache__/DataSys.cpython-36.pyc
src/fornow/__pycache__/iqfeed.cpython-36.pyc
src/fornow/__pycache__/IQFeedImporter.cpython-36.pyc
log.iqfeed.txt
